<div class="topnav" id="myTopnav">
  <a href="/" class="active">Home</a>
  <a href="/enregistrer/puce">Enregistrer puce</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
