<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<div id="mapid"></div>
<section class="search">
  <div class="search-content">
    <h2 class="search-title">Rechercher</h2>

    <div class="search-box">
      <div>
        <h3>Par id</h3>
        <input class="form-control" type="text">
        <button class="btn" >go</button>
      </div>
    </div>
    <div class="search-box">
      <div>
        <h3>Par date</h3>
        <h4>Date debut</h4>
        <input class="form-control" type="date">
        <h4>Date fin</h4>
        <input class="form-control" type="date">
        <button class="btn" >go</button>
      </div>
    </div>
  </div>

</section>
