<div class="content">
  <form method="post" action="/puce">
    <h2>Enregistrer puce</h2>
    <div class="form-group">
      <label for="id">Id</label>
      <input name="idP" class="form-control" id="idP" type="text">
    </div>
    <div>
      <div><label for="carac">Caractéristique</label></div>
      <textarea name="carac" class="form-control" id="carac"></textarea>
    </div>
    <button class="btn">Valider</button>
  </form>
</div>
