<div class="content">
  <form id="dechetForm" >
    <h2>Enregistrer dechet</h2>
    <div class="form-group">
      <label for="label">Label</label>
      <input name="label" class="form-control" id="label" type="text">
    </div>
    <div>
      <div><label for="type">Type</label></div>
      <textarea name="type" class="form-control" id="type"></textarea>
    </div>
    <button class="btn">Valider</button>
  </form>

  <form id="puceForm">
    <h2>Enregistrer puce</h2>
    <div class="form-group">
      <label for="idDechet">Id dechet</label>
      <input name="idDechet" class="form-control" id="idDechet" type="text">
    </div>
    <div>
      <div><label for="caracteristique">Caractéristique</label></div>
      <textarea name="caracteristique" class="form-control" id="caracteristique"></textarea>
    </div>
    <button class="btn">Valider</button>
  </form>
</div>
